{% extends "skel" %}
{% block title %}::<About>{% endblock %}
{% block body_attrs %}class="about"{% endblock %}
{% block content %}

<h1 class="fish-head">about::<turbofish>Turbofish</turbofish>()</h1>

<div class="fish-body">
    <p>
        A website dedicated to the turbofish syntax from the <a href="https://www.rust-lang.org">
            Rust Programming Language</a>, and its guardian angel, Anna Harren.
    </p>
    <p>
        <a href="https://www.reddit.com/r/rust/comments/3fimgp/comment/ctozkd0"> In the comments of
            a Reddit thread</a>, the name "turbofish" was coined for the first time by a developer
        named Anna Harren (u/deadstone), and was used by both the community and official
        documentation.
    </p>
    <p>
        Sadly, <a href="https://blog.rust-lang.org/2021/09/09/Rust-1.55.0.html#dedication">
            she passed away in 2021</a>, but she will forever be memorialized within Rust.
    </p>
    <p>
    <strong>More Turbofish Lore:</strong>
    <ul>
        <li>
            A test showcasing the parsing ambiguity solved by the turbofish:
            <a href="https://github.com/rust-lang/rust/blob/master/tests/ui/parser/bastion-of-the-turbofish.rs">
                Bastion of the Turbofish
            </a>
        </li>
        <li>
            Why turbo.fish also has reversed a turbofish:
            <a href="https://users.rust-lang.org/t/what-is-the-proper-term-for-an-ufcs-flavored-paths/9570">
                "What is the proper term for an 'UFCS'-flavored paths?"
            </a>
        </li>
        <li>
            A guide on how to use the turbofish and what it does:
            <a href="https://matematikaadit.github.io/posts/rust-turbofish.html">
                "Where to put the turbofish"
            </a>
        </li>
    </ul>
    </p>
</div>

<footer>
    <a href="https://github.com/jplatte/turbo.fish">code.</a>
    <a href="{{ random_link }}">random!</a>
</footer>
{% endblock %}
