<!doctype html>
<html lang="en" class="index">

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'none'; frame-src 'none'">

<title>::<></title>

<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="turbofish.css">

<t><></t>
<u><></u>
<r><></r>
<b><></b>
<o><></o>
<f><></f>
<i><></i>
<s><></s>
<h><></h>

<footer>
    <a href="https://www.reddit.com/r/rust/comments/3fimgp/why_double_colon_rather_that_dot/ctozkd0/">what?</a>
    <a href="https://matematikaadit.github.io/posts/rust-turbofish.html">what??</a>
    <a href="https://github.com/jplatte/turbo.fish">code.</a>
    <a href="/random">random!</a>
</footer>

</html>
