<!doctype html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'none'; frame-src 'none'">
{% block nosnippet -%}
<meta name="robots" content="nosnippet">
{%- endblock nosnippet %}

<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/turbofish.css">

<body {% block body_attrs %}{% endblock %}>

{% block content %}{% endblock %}
<footer>
    {% block footer_about %}<a href="/about">what?</a>{% endblock %}
    <a href="https://github.com/jplatte/turbo.fish">code.</a>
    <a href="/random">random!</a>
    {% block footer_extra %}{% endblock %}
</footer>

</body>

</html>
