{% extends "skel.html" %}
{% block title -%}
    {{fish}}
{%- endblock title %}
{% block body_attrs %}{% if fish.reverse %}class="reverse"{% endif %}{% endblock %}
{% block content %}

{% for tag in "turbofish".chars() -%}
    <{{ tag }}>{{ fish.fish }}</{{ tag }}>
{%- endfor %}

{% let random_link -%}
{% if fish.reverse -%}
    {% let random_link = "/random_reverse" -%}
{% else -%}
    {% let random_link = "/random" -%}
{% endif -%}

<footer>
    <a href="https://www.reddit.com/r/rust/comments/3fimgp/why_double_colon_rather_that_dot/ctozkd0/">what?</a>
    <a href="https://matematikaadit.github.io/posts/rust-turbofish.html">what??</a>
    <a href="https://github.com/jplatte/turbo.fish">code.</a>
    <a href="{{ random_link }}">random!</a>
    <a href="{{ reverse_link }}">reverse!</a>
</footer>
{% endblock content %}
