<!doctype html>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta http-equiv="Content-Security-Policy" content="default-src 'self'">

<title>::<​{{ guts }}></title>

<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="turbofish.css">

<t><​{{ guts }}></t>
<u><​{{ guts }}></u>
<r><​{{ guts }}></r>
<b><​{{ guts }}></b>
<o><​{{ guts }}></o>
<f><​{{ guts }}></f>
<i><​{{ guts }}></i>
<s><​{{ guts }}></s>
<h><​{{ guts }}></h>
